appdirs==1.4.4
asgiref==3.2.10
astroid==2.5.6
broadlink==0.17.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
configparser==3.5.0
cryptography==3.2
distlib==0.3.1
Django==3.1.1
django-bootstrap3==15.0.0
django-sb-admin==5.5.1.1
filelock==3.0.12
future==0.18.2
idna==2.10
ifaddr==0.1.7
isort==5.8.0
lazy-object-proxy==1.6.0
lxml==4.4.1
magichue==0.2.9.2
mccabe==0.6.1
netaddr==0.7.19
pbr==5.5.0
pycoingecko==2.0.0
pycparser==2.20
pylint==2.8.2
pypiwin32==223
python-magichue==0.2.9.3
pytz==2020.1
pywin32==300
requests==2.25.1
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
stevedore==3.2.2
toml==0.10.2
urllib3==1.25.10
virtualenv==20.0.31
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
virtualenvwrapper.django==0.4.1
wrapt==1.12.1
yeelight==0.6.2
