{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Smart Hub 1.0{% endblock title %}



{% block styles %}


{% endblock styles%}

{% block heading %}Smart Devices Dashboard {% endblock heading %}

{% block body %}

<link rel="stylesheet" type="text/css" href="static/css/switch.css">



<div class="row">

  <div class="col-lg">

    <!-- Default Card Example -->
    <div class="card mb-4">
      <div class="card-header">
        Devices
      </div>
      <div class="card-body">
        {% for device in devices %}
            <div class="row">
              <div class="col">
                
                <h3>{{ device.name }}</h3>
                <h5>{{ device.light_type }}</h5>
                
                {% if device.power_status == True %}
                <h3>On</h3>
                {% else %}
                <h3>Off</h3>
                {% endif %}
                
                
              </div>

              <div class="col">
                
                
               
                
                <form method="post" action="{% url 'toggle-power' device.id%}">
                  {% csrf_token %}
                  <button class="btn btn-primary btn-block btn-round">Power</button>

                  

                </form>

                
                
              </div>

              
            </div>
            <hr>
            
        {% endfor %}
      </div>
    </div>

    

  </div>

</div>



{% endblock body %}

